.two_line_menu {
    position: relative;
    margin-bottom: 40px;
}
.two_line_menu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding:10px;
}
.two_line_menu li { display: inline-block; }
.two_line_menu li ul { display: none; }
.two_line_menu li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    top: 38px;
}
.two_line_menu li ul li:hover a { color: #000; }